.popup-container {
  width: 95%;
  max-width: 320px;
  height: 90px;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease;
  border: 3px solid white;
  background-color: rgb(233, 192, 145);
  border-radius: 45px;
  overflow: hidden;
}

.popup-container.active {
  bottom: 20px;
}